.wrap{
  width:100%;
  height:100vh;
  background-color:skyblue;
  box-sizing:border-box;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}
.loginItem{
  padding-left:2%;
  position:absolute;
  top:20%;
  left:30%;
  width:33%;
  color:white;
  border:1px solid white;
  color:#586069;
  border-radius:10px;
}
.loginItem__form{
  margin-top:30px;
  font-size:20px;
}
.loginItem__form span{
  font-size:30px;
  display:block;
  margin:10px 0;
  margin-top:15px;
}
.loginItem__form-input{
  display:block;
  width:80%;
  height:60px;
  border:none;
  border-radius:5px;
  font-size:20px;
  line-height:1.5;
  padding-left:3%;
}
.loginItem__form input::-webkit-input-placeholder{
  color: #aab2bd;
  font-size:24px;
}
.loginItem__reg{
  margin-top:25px;
  margin-bottom: 50px;
}
.loginItem__form-submit{
  display:block;
  margin-top:30px;
  background-color:#2198b2;
  width:83%;
  height:70px;
  color:white;
  cursor:pointer;
  border:none;
  border-radius:8px;
  font-size: 30px;
}